rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Reglas Generales para el Expediente
    match /expedientes/{empleadoId}/{fileName} {
      
      // Permitir leer si están autenticados (Admin, RH, Psicóloga)
      // Idealmente, el propio empleado podría leer sus archivos si su ID coincide
      allow read: if request.auth != null;

      // Permitir subir si:
      // 1. Están autenticados
      // 2. El tamaño del archivo es menor o igual a 10 MB (10 * 1024 * 1024 bytes = 10485760)
      allow write: if request.auth != null && request.resource.size <= 10485760;
    }
  }
}
